*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // Text Colors
  --color-text-main: hsl(14, 88%, 65%);
  --color-text-secondary: hsl(238, 29%, 16%);
  --color-text-tertiary: hsl(240, 6%, 50%);

  // Background Colors
  --bg-color-violet: hsl(273, 75%, 66%);
  --bg-color-blue: hsl(240, 73%, 65%);
}

// Breakpoints for media queries
$bp-largest: 71.875em; //1150 px
$bp-medium: 53.125em; //850 px
$bp-small: 37.5em; //600px

html {
  overflow-y: scroll;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-largest) {
    font-size: 55%;
  }
  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 40%;
  }
}

body {
  background-image: linear-gradient(
    to bottom,
    var(--bg-color-violet),
    var(--bg-color-blue)
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  width: 70vw;
  max-width: 100rem;
  min-height: 0rem;
  padding-top: 10rem;
}

label {
  font-size: 1.6rem;
}

p {
  display: none;
  font-size: 1.4rem;
  line-height: 1.5;
  transition: all 0.3s;
  backface-visibility: hidden;
  padding-right: 1.5em;
}
