.main {
  display: flex;
  background-color: #fff;
  border-radius: 3rem;
  margin-bottom: 5rem;
  @media only screen and (max-width: $bp-largest) {
    flex-direction: column;
  }

  &__column-left {
    background-image: url("../img/bg-pattern-desktop.svg");
    background-position: -58em -24em;
    background-repeat: no-repeat;
    flex: 0 1 55%;
    padding-top: 10em;
    position: relative;
    height: 61rem;

    @media only screen and (max-width: $bp-largest) {
      background-image: url("../img/bg-pattern-mobile.svg");
      background-position: 52.5% 1rem;
      background-size: 25rem;
      padding-top: 0;
    }
  }
  &__img-container {
    overflow: hidden;
    @media only screen and (max-width: $bp-largest) {
      overflow: visible;
    }
  }
  &__img-online {
    display: block;
    margin-left: -4rem;

    @media only screen and (max-width: $bp-largest) {
      margin: 0 auto;
      width: 25rem;
      transform: translateY(-27%);
    }
  }

  &__img-box {
    position: absolute;
    left: -9.2em;
    top: 39%;

    @media only screen and (max-width: $bp-largest) {
      display: none;
    }
  }
  &__column-right {
    flex: 0 1 55%;
    padding: 2em 4em 5em 4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      padding: 0 4em 5em 4em;
    }
  }
  &__list {
    list-style: none;
    font-family: inherit;
    width: 100%;
    @media only screen and (max-width: $bp-largest) {
      width: 80%;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 90%;
    }
    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }
  }
  &__list-item {
    display: block;
    border-bottom: 0.1rem solid hsl(240, 5%, 91%);
    width: 85%;
    margin: 0 auto;
    @media only screen and (max-width: $bp-largest) {
      width: 80%;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 90%;
    }
    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }
  }

  &__list-item-container {
    position: relative;
    padding: 1em 0 1em 0;
  }

  &__list-question {
    appearance: none;
    position: absolute;
    right: 0;
    cursor: pointer;
    outline: none;

    &:checked ~ .main__label::after {
      transform: rotate(180deg);
    }
    &:checked ~ .main__list-answer {
      display: block;
      margin-top: 0.5em;
      color: var(--color-text-tertiary);
      animation: fadeIn 0.3s ease-in-out;
    }
    &:checked + .main__label {
      font-weight: 700;
      font-size: 1.4rem;
    }
  }

  &__label {
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--color-text-secondary);
    transition: all 0.4s;
    width: 100%;
    &::after {
      content: url("../img/icon-arrow-down.svg");
      display: inline-block;
      position: absolute;
      right: 0;
      transition: all 0.4s;
    }

    &:hover {
      color: var(--color-text-main);
    }
  }
}

.attribution {
  font-size: 1.6rem;

  text-align: center;
  color: #fff;

  & > a {
    color: var(--color-text-main);
  }
}
